:root {
    --shadowPadrao: rgba(0,0,0,1)
}

.menuBranco {

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgb(255, 255, 255);
       
    height: 90%;
    width: 20vw;

    border-radius: 10px;
    box-shadow:  var(--shadowPadrao)
}




.containerDeOpcoes {
    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;

    border-style: solid; 
    border-color: bisque; 


    padding-bottom: 10px;
    
    margin-inline: 10px;
    margin-top: 10px;
    border-radius: 10px;

    
}

.containerDeOpcoes h5 {
color: coral;
margin-top: 0px;
text-align: center;
margin: 7px 0px 7px 0;
}

.containerDeOpcoes label {
margin-left: 0px ;
margin-right: 6px ;
}

.containerDeOpcoesInput {
margin-inline: 10px;
}